.spanText{
    font-weight: 600 !important;
}

.table{
    position: sticky !important;
    top: 35vh !important;
    background-color: black ;
}
@media print {
    .table{
        position: sticky;
        bottom: 1vh;
    }
}