.deal__container{
    padding-top: 5vh !important;
    margin: 0 auto !important;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-template-areas:
      "addDeal contract fields"
      "dealTable dealTable dealTable"
      "- - push";
    width: 90%;
    /* height: 50%; */
}
.addDeal__container{
    grid-area: addDeal;
    height: 55vh;

}
.dealContract__container{
    grid-area: contract;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 55vh;
}

.dealFields__container{
    grid-area: fields;
    height: 55vh;

}

.dealTable__container{
    grid-area: dealTable;
}

.dealPush__container{
    grid-area: push;
  
}